<br>
<br>
<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <div class="sign-up-column">

    <h3 class="text-left">Create a free account</h3>
       
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.text_field :first_name, autofocus: true, class: "default-input", placeholder: "First Name" %>

              <%= f.text_field :last_name, class: "default-input", placeholder: "Last Name" %>

              <%= f.email_field :email, class: "default-input", placeholder: "E-mail Address" %>
  
              <%= f.password_field :password, class: "default-input", placeholder: "Password" %>

              <%= f.text_field :zipcode, class: "default-input", placeholder: "Zipcode" %>

              <%= f.submit "Sign up", class: "btn btn-primary btn-lg pull-right" %>
            </div>
          <% end %>
        </div>
      </form>
      </div>

    <div class="col-md-5 text-center">
      <br>
      <br>
        <h3>Already registered? Sign-in</h3>
      
        <%= link_to "Sign In",  new_user_session_path, class: "btn btn-info btn-lg" %>
        </div>

    </div>


