<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <h3 class="text-left">Create a free account</h3>
  </div>
</div>
  
<div class="row">
  <div class="col-md-offset-2 col-md-4">
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages!%>
    
    <%= f.text_field :first_name, autofocus: true, class: "default-input", required: "true", placeholder: "First Name" %>
    <%= f.text_field :last_name, class: "default-input", required: "true", placeholder: "Last Name" %>
    <%= f.country_select :country, ["United States"], class: "input-large" %>
    <%= f.hidden_field :street1, class: "default-input", placeholder: "Street Address" %>
    <%= f.text_field :zipcode, id: "zip", class: "default-input", placeholder: "Zipcode" %>
    <%= f.email_field :email, class: "default-input", required: "true", placeholder: "E-mail Address" %> 
    <%= f.password_field :password, class: "default-input", required: "true", placeholder: "Password" %>
   
    <%= f.hidden_field :city, id: "city", class: "default-input", placeholder: "City" %>
    <%= f.hidden_field :state, id: "state", class: "default-input", placeholder: "State" %>
   
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block pull-right" %>

  <% end %>
                <br>
                <br>
                <br>
    
<!--     <p>By clicking "Sign up", you agree to our terms of service and <a href="http://www.iubenda.com/privacy-policy/316635" target="_blank">privacy policy</a>.</p>
 -->  
</div>
    
        <br>
        <br>

<div class="row">
  <div class="col-md-offset-1 col-md-3 text-center">
    
  
    <h3>Already have an account?</h3>
    
    <br>
    
    <%= link_to "Log In",  new_user_session_path, class: "btn btn-info btn-lg" %>
  </div>
  </div>
</div>


<script>
$(document).ready(function() {
    $("#zip").keyup(function() {
        var el = $(this);
        
        if (el.val().length === 5) {
            $.ajax({
                url: "http://zip.elevenbasetwo.com",
                cache: false,
                dataType: "json",
                type: "GET",
                data: "zip=" + el.val(),
                success: function(result, success) {
                    $("#city").val(result.city);
                    $("#state").val(result.state);
                }
            });
        }
    });
});

</script>