<h1>All Reclaim Submissions</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Submission Time</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Email</th>
      <th>Product Name</th>
      <th>Brand</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @submission.each do |submission| %>
      <tr>
        <td><%= submission.created_at %></td>
        <td><%= submission.user.first_name %></td>
        <td><%= submission.user.last_name %></td>
        <td><%= submission.user.email %></td>
        <td><%= submission.product.name %></td>
        <td><%= submission.brand.description %></td>
        <td><img src="<%= submission.product.image %>" width="100px"></td>
        <td><%= link_to 'View', submission, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_submission_path(submission), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Delete', submission, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>