<h1>All Reclaim Submissions</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Submission Time</th>
      <th>Status</th>
      <th>Name</th>
      <th>Email</th>
      <th>Product</th>
      <th>Brand</th>
      <th></th>
      <th>Update</th>
    </tr>
  </thead>

  <tbody>
    <% @submission.each do |submission| %>
      <tr>
        <td style="vertical-align:middle;"><%= submission.created_at %></td>
        <% case submission.status %>
          <% when Submission::STATUS_PENDING %>
            <td style="vertical-align:middle;"><button class="btn btn-xs btn-danger"><%= submission.status_string %></button></td>
          <% when Submission::STATUS_RECEIVED %>
            <td style="vertical-align:middle;"><button class="btn btn-xs btn-warning"><%= submission.status_string %></button></td>
          <% when Submission::STATUS_PROCESSED %>
            <td style="vertical-align:middle;"><button class="btn btn-xs btn-success"><%= submission.status_string %></button></td>
        <% end %>
        <td style="vertical-align:middle;"><%= submission.user.first_name %> <%= submission.user.last_name %></td>
        <td style="vertical-align:middle;"><%= submission.user.email %></td>
        <td style="vertical-align:middle;"><%= submission.product.name %></td>
        <td style="vertical-align:middle;"><%= submission.brand.description %></td>
        <td style="vertical-align:middle;"><%= image_tag submission.product.image, width: "100px" %></td>
        <% if submission.status == Submission::STATUS_PENDING %>
          <td style="vertical-align:middle;"><%= link_to 'Received', change_status_submission_path(submission), class: "btn btn-warning", method: :post %></td>
        <% else %>
          <% if submission.status == Submission::STATUS_RECEIVED %>
            <td style="vertical-align:middle;"><%= link_to 'Processed', change_status_submission_path(submission), class: "btn btn-success", method: :post %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <td style="vertical-align:middle;"><%= link_to 'Delete', submission, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>