<div class="row">
  <div class="container col-md-push-2 col-md-8 text-center">
    <h3 class="text-center">Thanks, <%= current_user.first_name %>! <small> Now, your PLUSfoam product is ready to be mailed back to us.</small></h3>


    <img src="https://dl.dropboxusercontent.com/u/3700607/giphy-1.gif" width="100%">
    <br>
<br>
     <p>We've locked-in your submission.</p>
     <p>We'll watch for your <strong><%= @submission.brand.description %></strong> product at our recycling center.</p>
     <p><%= link_to "PRINT YOUR LABEL", @submission.label, class: "fa fa-print btn btn-lg btn-success", target: "_blank" %></p>
     <p>You will also find a copy of your submission in your inbox so you can access your shipping label later if needed.</p>
     <p>Thanks for helping save the planet...one product at a time!</p>
     <br>


     <p> <a href="https://www.facebook.com/sharer.php?app_id=758192360859208&sdk=joey&u=https%3A%2F%2Fwww.plusfoam.com%2F&display=popup&caption=I%20%3C3%20the%20earth%20and%20just%20recycled%20my%20%40<%= @submission.brand.description %>%20product%20that%20is%20made%20with%20%40PLUScompound.%20Join%20me!%20bit.ly%2F1pdxWrU&link=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fdialogs%2F
  &redirect_uri=https://developers.facebook.com/tools/explorer" target="_blank" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i>  SHARE ON FACEBOOK</a>   <a href="https://twitter.com/intent/tweet?text=I%20%3C3%20the%20earth%20and%20just%20recycled%20my%20%40<%= @submission.brand.description %>%20product%20that%20is%20made%20with%20%40PLUScompound.%20Join%20me!%20bit.ly%2F1pdxWrU" class="btn  btn-lg btn-info twitter-share" data-related="pluscompound" data-lang="en" data-size="large" data-text="I <3 the earth and just recycled my <%= @submission.brand.description %> <%= @submission.product.name %> that are made with 100% recyclable PLUSfoam. Join me! http://bit.ly/1pdxWrU" data-count="none">SHARE ON TWITTER <i class="fa fa-twitter"></i></span></a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=758192360859208";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  </div>

</div>
