<br>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="log-in-column">
      <h3>Admin Log in</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, placeholder: "Admin E-mail Address", class: "default-input", :autofocus => true %>
    <%= f.password_field :password, placeholder: "Password", class: "default-input" %>
    
   <%= f.submit "Sign in", class: "btn btn btn-primary btn-lg pull-right" %>
  </div>

<% end %>

<%= render "admins/shared/links" %>

</div>
</div>
</div>