<br>
<br>
<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <div class="log-in-column">
      <h3>Log in</h3>
        <!-- <div class="row">
          
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">Facebook</a>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="#" class="btn btn-lg btn-info btn-block">Twitter</a>
          </div>
        </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div> -->

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="form-group">
          <!-- <%= f.label :email %>-->
          <%= f.email_field :email, placeholder: "E-mail Address", class: "default-input", :autofocus => true %>
            <!-- <label for="inputPassword">Password</label> -->
            <%= f.password_field :password, class: "default-input", placeholder: "Password" %>
        <h4><a class="pull-left" href="#">Forgot password?</a></h4>
        <button type="submit" class="btn btn btn-primary btn-lg pull-right">
          Log In >
        </button>
        </div>
        </form>
      <% end %>
    </div>
  </div>

    <div class="col-md-5 text-center">
      <br>
      <br>
      <br>
        <h3>New around here? Let's Get Started.</h3>
      
        <%= link_to "Sign Up",  new_user_registration_path, class: "btn btn-info btn-lg" %>
        </div>

    </div>
