<div class="container col-md-push-3 col-md-5">
  <div class="panel panel-default">

    <div class="panel-body">

<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form role="form">
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "default-input" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: "default-input" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  </form>
  </div>
<% end %>
<br>
