<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong><%= @brand.description %>'s PLUSfoam Products</strong>
</p>
<p>

</p>

<!-- <%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %> -->

<%= render @brand.products %>
