<!-- <p id="notice"><%= notice %></p> -->

<br>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Brands", reclaim_path %></li>
  <li class="active">Select Product</li>
</ol>

<p>
  <strong><%= @brand.description %>'s PLUSfoam Products</strong>
</p>
<p>

</p>

<!-- <%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %> -->

<%= render @brand.products %>
