


<!-- <p id="notice"><%= notice %></p> -->

<br>
<ol class="breadcrumb">
  <li><%= link_to "Brands", reclaim_path %></li>
  <li class="active">Select Product</li>
</ol>


<h3><%= @brand.description %>'s PLUSfoam Products <small>• Please select the product that you would like to recycle.</small></h3>

<div id="discount">
  <% if @brand.discount == "N/A (Discount Coming Soon)" %>
    <p></p>
  <% else %>
    <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    By recycling your product you'll save <%= @brand.discount %>. Wahoo, way to go!</div>
  <% end %>
</div>

<!-- <%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %> -->

<%= render @brand.products %>

<br>
<br>
  <p class="text-center">Don't see your product here? Remember it must be made using PLUSfoam® to be recyclable. Email us at recycle@plusfoam.com or give us a call at 1-888-680-PLUS.</p>
