<!-- <%= link_to product.name, product_path(product) %> -->

<%= link_to image_tag(product.image.url), product_path(product), class: "product-image" %>


<!-- 
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(product.image), product_path(product), class: "product-image" %>
      <div class="caption">
        <h3>
</h3>
        <p class="text-center"><%= product.name %></p>
        <p class="text-center"><%= link_to "Recycle My Pair", product_path(product), class:"btn btn-primary" %> <a href="#" class="btn btn-default" role="button">Buy Now</a></p>
      </div>
    </div>
  </div>
</div> -->